<h1>Show Order</h1>

<ul>

  <li>
    <strong>Free shipping:</strong>
    <%= @order.free_shipping %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.order_path(@conn, :edit, @order) %></span>
<span><%= link "Back", to: Routes.order_path(@conn, :index) %></span>
